body{
    margin: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    /*-moz-box-shadow: 4px 4px 5px #888888;     mozilla
    -ms-box-shadow: 4px 4px 5px #888888;        internet explorer
    -webkit-box-shadow: 4px 4px 5px #888888;    safari
    -o-box-shadow: 4px 4px 5px #888888;         opera mini
    
    */
    margin-top: 10px;
}
img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition : all 0.6s;
}
img:hover{
    transform: scale(1.1);
}